.sotrydnik {
    position: absolute;
    top: -10px;
    padding: 0 10px;
    height: 500px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.sotrydnik h2 {
    text-align: center;
    /* margin-bottom: 20px; */
}

.body {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
}

.body_1 {
    height: 400px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: -20px;
}

.body_2 {
    margin-top: 20px;
    margin-bottom: 50px;
    height: 400px;
    width: 100%;
    max-width: 400px;
    padding-top: 22px;
}
.body_2 p {
    background-color: #fff;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px 2px lightgrey;
    color: rgb(49, 117, 254);
    padding: 10px;
    margin: 4px 0;
    width: 100%;
    font-size: 18px;
}

.face {
    box-shadow: 1px 1px 3px 2px lightgrey;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}