.search_input {
    outline: none; 
}
.autocomplite {
    background-color: rgb(241, 241, 241);
    position: absolute;
    list-style: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    z-index: 1;
}
:root {
    --index: calc(1vw + 1vh);
}
.autocomplite_item {
    padding: 10px;
}
.autocomplite_item:hover {
    background-color: rgb(180,180,180);
    cursor: pointer;
    transition: cubic-bezier(1,0,0,1) .3s all;
}
.filtr {
    position: fixed;
    height: calc(100vh - 50px);
    margin-left: -1px;
    margin-top: 50px;
    width: 280px;
    padding: 10vh 10px 10px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}
.filtr_naz {
    text-align: center;
}
.filtr_form_1 {
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}
.filtr_form_2 {
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}
.filtr_form_3 {
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}
.filter_form_button {
    display: flex;
    justify-content: space-evenly;
}
.filter_form_button button {
    padding: 4px;
}
.filter_form_button button:active {
    scale: .96;
}
.aDisabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: gray; /* цвет текста для нективной ссылки */
}
.otm {
    display: flex;
}
.otmetki {
    width: 100%;
    margin: 70px 15px 15px 335px;
}
.otmetki table {
    width: 100%;
}
.otmetki table td {
    padding: 10px;
    border: 1px solid gray;
}
.filtr input, .filtr select {
    padding: 2px;
    margin: 2px;
}