.container {
  position: absolute;
  top:80px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 600px;
}
.inputs {
  caret-color: red;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.inputs {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.yi {
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  height: 200px;
  width: 170px;
  border: 1px solid gray;
  transition: .4s;
  margin: 10px;
}
.yi:hover {
  transform: scale(1.05); /* Увеличиваем масштаб */
}
.yii {
  position: absolute;
  top: 200px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  flex-wrap: wrap;
}
.eche {
  position: absolute;
  bottom: -80px;
  padding-bottom: 20px;
}