* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
}

body {
    background-color: #ecf0f3;
    overflow-x: hidden;
}

@keyframes smenaStranis {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
