.ZT {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ZT h3, .ZT h6 {
    text-align: center;
}
.ZT h6 {
    color: red;
    margin-top: 5px;
    margin-bottom: -15px;
}
.infoZT {
    max-width: 520px;
    text-align: justify;
    padding: 0 10px 10px 10px;
    margin: 0 10px 20px 10px;
    text-decoration: none;
}
.infoZT a {
text-decoration: none;
}
.tablee {
    width: 350px;
    margin: 10px 10px 30px 10px;
}
.tablee td, .tablee th {
    border: 1px solid gray;
    text-align: center;
    padding: 2px;
}

.TyrniketsAdd {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.addZT {
    width: 260px;
    text-align: justify;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin: 10px 10px 20px 10px;
    text-decoration: none;
}
.addZT h3 {
    text-align: center;
}
.addZT button, .addZT input {
    padding: 6px;
    margin: 2px;
    width: 100%;
    margin-top: 10px;
}

.addZT button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: rgb(50, 50, 255);
}
.addZT button:active {
    color: darkblue;
    scale: 0.98;
}
.addZT input {
    outline: none;
    padding: 10px;
}
.addZT select {
    margin: 4px 0;
    padding: 4px;
}